@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* index.css */
<<<<<<< HEAD
/* * {
    cursor: none !important; 
  } */
=======
* {
    cursor: none !important; /* Fully removes cursor on all elements */
  }

/* tailwind.css or global.css */
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

>>>>>>> 3e498dced87124d3c2fc76d67e2c91d172494a43
  